@using Sandbox;

@namespace TTT.UI

@if (Game.LocalPawn is not TTT.Player player)
{
    return;
}

<root class="centered-vertical-75 text-shadow">
    <text class="header" style="color: @(_corpse.Player.IsValid() ? _corpse.Player.Role.Color.Hex : "#fdc418")">
        @(_corpse.Player?.SteamName ?? "Unidentified body")
    </text>
    @if (_corpse.CanSearch()) 
    {
        <div class="actions">
            @if (player.IsAlive && player.Role.CanUseShop && _corpse.HasCredits) {
                <text>
                    <text class="text-color-tertiary">Search to receive unspent credits.</text>
                </text>
            }
            <div style="margin-bottom: 5px; align-items: center;">
                <text>Press</text>
                <inputglyph action="@Corpse.GetSearchButton()" />
                <text>@(_corpse.Player.IsValid() ? !player.IsAlive || _corpse.Player.IsConfirmedDead ? "to search." : "to confirm." : "to identify.")</text>
            </div>
            @if (player.IsAlive && !_corpse.IsFound) {
                <div class="covert-panel">
                    <text>Press</text>
                    <inputglyph action="run" />
                    <text>+</text>
                    <inputglyph action="@Corpse.GetSearchButton()" />
                    <text>to search covertly.</text>
                </div>
            }
        </div>
    }
</root>

<style>
    CorpseHint {
        flex-direction: column;
        align-items: center;

        .header {
            font-weight: 600;
            font-size: 18px;
        }

        .actions {
            flex-direction: column;
            align-items: center;

            label {
                font-size: 15px;
            }
        }

        .covert-panel {
            align-items: center;
        }
    }
</style>