@using System.Collections.Generic;
@using System;
@using TTT;

@namespace TTT.UI

@if (Players.IsNullOrEmpty())
{
    return;
}

<root class="text-shadow">
    <div class="header" style="background-color: @(@Role.Color.Hex)">
        <text class="role">@($"{Role.Title} - {Players.Count}")</text>
        <text class="karma">Karma</text>
        <text class="score">Score</text>
    </div>
    <div style="flex-direction: column; overflow: scroll;">
        @foreach (var player in Players)
        {
            <div class="player">
                <img src="avatar:@player.SteamId" class="avatar circle" />
                <text class="name">@player.SteamName</text>
                <div style="flex-grow: 1;" />
                <text class="karma">@(Math.Round(player.BaseKarma))</text>
                <text class="score">@player.Score</text>
            </div>
        }
    </div>
</root>

@code {
    public Role Role { get; set; }
    public List<TTT.Player> Players { get; set; }
}

<style>
    RoleList {
        flex-direction: column;
        width: 100%;
        padding: 5px;

        .header {
            border-radius: 4 4 0 0;
            flex-shrink: 0;
            font-weight: 600;
            align-items: center;
            padding: 3 8 3 8;

            .role {
                flex-grow: 1;
            }

            .karma,
            .score {
                width: 70px;
                text-align: right;
            }
        }

        .player {
            height: 40px;
            align-items: center;
            font-weight: 500;
            display: flex;
            flex-shrink: 0;
            padding: 3 8 3 8;
            background-color: #0a0a0a66;

            .avatar {
                height: 25px;
                width: 25px;
            }

            .name {
                margin-left: 8px;
            }

            .score,
            .karma {
                width: 70px;
                text-align: right;
            }

            &:last-child {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
</style>