@using Sandbox
@using Sandbox.UI
@using TTT
@namespace TTT.UI

@inherits Panel
@attribute [StyleSheet("UI/Player/RoleInfoPopup/RoleInfoPopup.scss")]

@code
{
	static RoleInfoPopup? Instance;
	RealTimeSince SinceCreated { get; set; } = 0;

	public RoleInfoPopup()
	{
		Instance?.Delete();
		Instance = this;
	}

	public override void Tick()
	{
		if (SinceCreated >= 10)
			Delete();

		base.Tick();
	}

	[GameEvent.Roles.Assigned]
	static void OnRolesAssigned()
	{
		if (!Game.IsClient)
			return;

		Game.RootPanel.AddChild(new RoleInfoPopup());
	}

	[GameEvent.Player.Killed]
	void OnKilledEvent(TTT.Player ply)
	{
		if (!Game.IsClient)
			return;

		Delete();
	}
}

<root>
	@if (Game.LocalPawn is not TTT.Player ply)
		return;

	@{
		Log.Info(ply.Role.Title);
	}
	<div class="inner" style="background-image: linear-gradient(@ply.Role.Color.Darken(0.7f).Rgb, @Color.Gray.Darken(0.5f).Rgb)">
		@{
			var popupHeader = string.Empty;
			var popupText = string.Empty;
			var teamMembers = string.Empty;

			switch (ply.Role)
			{
				case (Innocent):
					popupHeader = "You are Innocent.";
					popupText = "Watch your back, there are traitors in our ranks.";
					break;

				case (Traitor):
					popupHeader = "You are a Traitor!";
					var loneTraitor = false;
					var loneTraitorText = "You're alone this time, take extra care to not get outed by the innocents.";
					if (Game.Random.Int(10) == 1)
						loneTraitorText = "You're alone and have no fellow traitors to rely on.\nLiving is no different than being dead if you're alone.";
					popupText = loneTraitor ? loneTraitorText : "Work with your fellow traitors to kill the rest. Be careful to not get caught.";
					break;

				case (Detective):
					popupHeader = "You are a Detective.";
					popupText = "You have special resources to aid you in finding the traitors.\nHelp the innocent survive, but be careful:" +
					"you will be a priority target for the traitors.";
					break;
			}
		}
		<header>@popupHeader</header>
		<label>@popupText</label>
		<label>@teamMembers</label>
	</div>
</root>