@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;

@namespace TTT.UI.GameMenu

<root class="layout">

    <div class="navbar">

        <div class="left">
            <a class="button" href="/"> Home </a>
            <span class="block">&gt;</span>
            <span class="block">Create A Game</span>
        </div>

        <div class="right">
        </div>
    </div>

    <div class="body columned">

        <div class="form scroll">

            <FormGroup>
                <Label>Server Name</Label>
                <Control>
                    <TextEntry Value:bind="@GameTitle" Tooltip="Server Title"> </TextEntry>
                </Control>
            </FormGroup>

            <FormGroup class="form-group">
                <Label>Max Players</Label>
                <Control>
                    <SliderControl ShowTextEntry="@true" ShowRange="@true" Min=@(1.0f) Max=@(64) Value:bind="@MaxPlayers"></SliderControl>
                </Control>
            </FormGroup>

        </div>

        @if (ShowMapOption)
        {
            <div class="right">
                <h2>Map</h2>
                <MapButton MapIdent=@Map OnClicked="@OnMapClicked"></MapButton>
            </div>
        }

    </div>
    
    <div class="navbar">
    
        <div class="left"></div>

        <div class="right">
            <a class="button" href="/"> Cancel </a>
            <span class="button" onclick=@StartGame>Start Game</span>
        </div>

    </div>

</root>

@code
{
    public string GameTitle { get; set; } = "My TTT Server";
    public float MaxPlayers { get; set; } = 8;
    public string Map { get; set; } = "thieves.dolls";
    bool ShowMapOption = true;
    int MaxPlayersSupported = 1;

    protected override void OnParametersSet()
    {
        MaxPlayersSupported = Game.Menu.Package.GetMeta<int>("MaxPlayers", 1);

        ShowMapOption = Game.Menu.Package.MapSelectionMode != Sandbox.DataModel.Game.MapSelect.Hidden;
        ShowMapOption = ShowMapOption && Game.Menu.Package.MapSelectionMode != Sandbox.DataModel.Game.MapSelect.Empty;
    }

    public void StartGame()
    {
        _ = Game.Menu.StartServerAsync( MaxPlayersSupported, GameTitle, Map );
        this.Navigate( "/active" );
    }

    void OnMapClicked()
    {
        Game.Overlay.ShowPackageSelector("type:map game:thieves.terrortown sort:popular", OnMapSelected);
    }

    void OnMapSelected( Package map )
    {
        Map = map.FullIdent;
        StateHasChanged();
    }

    public override void Tick()
    {
        base.Tick();

        if (!IsVisible)
            return;
    }
}
